USE [master]
GO
/****** Object:  Database [HMS]    Script Date: 22.01.2014. 16:28:36 ******/
CREATE DATABASE [HMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HMS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.HMS\MSSQL\DATA\HMS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HMS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.HMS\MSSQL\DATA\HMS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HMS]
GO
/****** Object:  User [HMS System]    Script Date: 22.01.2014. 16:28:36 ******/
CREATE USER [HMS System] FOR LOGIN [hms_sys] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Dr Dmitry]    Script Date: 22.01.2014. 16:28:36 ******/
CREATE USER [Dr Dmitry] FOR LOGIN [doc] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [HMS System]
GO
ALTER ROLE [db_datareader] ADD MEMBER [HMS System]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [HMS System]
GO
/****** Object:  StoredProcedure [dbo].[SP_Tasks_Add]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tasks_Add](
	@TypeID int,
    @PatientID int,
	@PriorityID int,
	@Instr nvarchar(max),
	@Creator_ID int,
	@NewTaskID int OUTPUT
)
AS
BEGIN
	declare @err int
	
	SET NOCOUNT ON;
	
	DECLARE @StatusID int;
	SELECT @StatusID = ID from dbo.Statuses where Name = '%Status_New';

	insert into dbo.Tasks([Type_ID], [Patient_ID], [Priority_ID], [Instructions], [Status_ID], [Creator_ID]) 
	values (@TypeID, @PatientID, @PriorityID, @Instr, @StatusID, @Creator_ID);

	SELECT @NewTaskID = SCOPE_IDENTITY();
	
	select @err = @@Error;
	select @err;
END


GO
/****** Object:  StoredProcedure [dbo].[SP_Tasks_Delete]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tasks_Delete](
	@TaskID int
)
AS
BEGIN
	declare @err int
	
	delete from dbo.Tasks
	Where ID = @TaskID

	select @err = @@Error;
	select @err;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tasks_Report]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_Tasks_Report](
	@TaskID int,
	@StatusID int,
	@Attachment nvarchar(max) = NULL,
	@Comment nvarchar(max) = NULL
)
AS
BEGIN
	declare @err int
	
	begin transaction

	update dbo.Tasks set Status_ID = @StatusID where ID = @TaskID;
	select @err = @@Error
	
	if @err <> 0
		rollback transaction
	else
		begin
			
			insert into dbo.Reports (Task_ID, Status_ID, Attachment, Comment) 
			values (@TaskID, @StatusID, @Attachment, @Comment);
  
			select @err = @@Error
			
			if @err <> 0
				rollback transaction
		end
 
	commit transaction 
	if @err = 0
		select @err = @@Error
	else
		select @err  

	select @err;
END
GO
/****** Object:  UserDefinedFunction [dbo].[F_Dictionary]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_Dictionary] (@Language nchar(2))
RETURNS @DictionaryTab TABLE (
	Tag			nvarchar(max), 
	Text		nvarchar(max)
)
AS
BEGIN
	IF (dbo.F_ValidateLanguage(@Language) = 1)
	BEGIN
		INSERT @DictionaryTab
			select d.Tag, d.Text 
			from dbo.Dictionaries d
			left join dbo.SupportedLanguages sl on d.Language_ID = sl.ID
			where sl.Language = @Language AND d.Type = 'External'
	END
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[F_NotificationTypes]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_NotificationTypes] (@Language nchar(2))
RETURNS @NotificationTypesTab TABLE (
	ID			int, 
	Text		nvarchar(max)
)
AS
BEGIN
	IF (dbo.F_ValidateLanguage(@Language) = 1)
	BEGIN
		INSERT @NotificationTypesTab
			select nt.ID, d.Text 
			from dbo.NotificationTypes nt 
			left join dbo.Dictionaries d on nt.Name = d.Tag
			left join dbo.SupportedLanguages sl on d.Language_ID = sl.ID
			where sl.Language = @Language
	END
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[F_Patients]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_Patients] ()
RETURNS @PatientsTab TABLE (
	ID			int, 
	Name		nvarchar(max),
	Surname		nvarchar(max),
	SocialNr	nvarchar(max),
	Department	nvarchar(max)
)
AS
BEGIN
	INSERT @PatientsTab
		select p.ID, p.Name, p.Surname, p.SocialNr, d.Department
		from dbo.Patients p 
		left join dbo.PatientAdmission pa on p.ID = pa.Patient_ID
		left join dbo.Departments d on pa.Department_ID = d.ID
		where pa.Date_FROM < GETDATE() AND (pa.Date_Till is Null OR pa.Date_Till > GETDATE())
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[F_PriorityTypes]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_PriorityTypes] (@Language nchar(2))
RETURNS @PriorityTypesTab TABLE (
	ID			int, 
	Text		nvarchar(max)
)
AS
BEGIN
	IF (dbo.F_ValidateLanguage(@Language) = 1)
	BEGIN
		INSERT @PriorityTypesTab
			select pt.ID, d.Text 
			from dbo.PriorityTypes pt 
			left join dbo.Dictionaries d on pt.Name = d.Tag
			left join dbo.SupportedLanguages sl on d.Language_ID = sl.ID
			where sl.Language = @Language
	END
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[F_StatusTypes]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[F_StatusTypes] (@Language nchar(2))
RETURNS @StatusesTab TABLE (
	ID			int, 
	Text		nvarchar(max)
)
AS
BEGIN
	IF (dbo.F_ValidateLanguage(@Language) = 1)
	BEGIN
		INSERT @StatusesTab
			select s.ID, d.Text 
			from dbo.Statuses s 
			left join dbo.Dictionaries d on s.Name = d.Tag
			left join dbo.SupportedLanguages sl on d.Language_ID = sl.ID
			where sl.Language = @Language
	END
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[F_TaskTypes]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_TaskTypes] (@Language nchar(2))
RETURNS @TaskTypesTab TABLE (
	ID			int, 
	Text		nvarchar(max),
	HasInstr	nvarchar(max)
)
AS
BEGIN
	IF (dbo.F_ValidateLanguage(@Language) = 1)
	BEGIN
		INSERT @TaskTypesTab
			select tt.ID, d.Text, tt.HasInstr 
			from dbo.TaskTypes tt 
			left join dbo.Dictionaries d on tt.Name = d.Tag
			left join dbo.SupportedLanguages sl on d.Language_ID = sl.ID
			where sl.Language = @Language
	END
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[F_TranslateTo]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_TranslateTo](@Language nchar(2), @Tag nvarchar(max))
RETURNS nvarchar(max)
AS
BEGIN
	DECLARE @Result nvarchar(max)
	SET @Result = NULL

	IF (dbo.F_ValidateLanguage(@Language) = 1)
	BEGIN
		
			SELECT @Result = d.Text 
			FROM dbo.Dictionaries d
			LEFT JOIN dbo.SupportedLanguages sl on d.Language_ID = sl.ID
			WHERE sl.Language = @Language AND @Tag = d.Tag
	END	
	RETURN @Result
END

GO
/****** Object:  UserDefinedFunction [dbo].[F_ValidateLanguage]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_ValidateLanguage] (@Language nchar(2))
RETURNS BIT
AS
BEGIN 
	RETURN
	(
		select count(ID) from dbo.SupportedLanguages where UPPER(Language) = UPPER(@Language) 
	)
END
GO
/****** Object:  UserDefinedFunction [dbo].[F_ViewTaskDetails]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_ViewTaskDetails] (@TaskID int, @Language nchar(2))
RETURNS @TaskDetailsTab TABLE (
	ID						int, 
	Title					nvarchar(max),
	Patient_Name			nvarchar(max),
	Patient_Surname			nvarchar(max),
	Patient_SocialNr		nvarchar(max),
	Patient_Department		nvarchar(max),
	Priority				nvarchar(max),
	Instructions			nvarchar(max),
	Status_ID				int,
	Status					nvarchar(max),
	Creator_ID				int,
	TimeCreated				datetime2,
	TimeUpdated				datetime2,
	Responsible_Name		nvarchar(max),
	Responsible_Surname		nvarchar(max),
	Responsible_Department	nvarchar(max)
)
AS
BEGIN
	IF (dbo.F_ValidateLanguage(@Language) = 1)
	BEGIN
		INSERT @TaskDetailsTab
			select t.ID, tt.Text, p.Name, p.Surname, p.SocialNr, p.Department, pt.Text, t.Instructions, s.ID, s.Text, 
				t.Creator_ID, t.TimeCreated, t.TimeUpdated, 
				per.Name, per.Surname, d.Department
			from dbo.Tasks t
				left join dbo.F_TaskTypes(@Language) tt on t.Type_ID = tt.ID
				left join dbo.F_Patients() p on t.Patient_ID = p.ID
				left join dbo.F_PriorityTypes(@Language) pt on t.Priority_ID = pt.ID
				left join dbo.F_StatusTypes(@Language) s on t.Status_ID = s.ID
				left join dbo.Personnel per on t.Responsible_ID = per.ID
				left join dbo.Departments d on per.Department_ID = d.ID
				left join dbo.Statuses st on t.Status_ID = st.ID
			where t.ID = @TaskID

	END
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[F_ViewTasks]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_ViewTasks] (@Language nchar(2))
RETURNS @TasksTab TABLE (
	ID						int, 
	Title					nvarchar(max),
	Patient_Name			nvarchar(max),
	Patient_Surname			nvarchar(max),
	Patient_Department		nvarchar(max),
	Priority				nvarchar(max),
	Instructions			nvarchar(max),
	Status					nvarchar(max),
	Creator_Name			nvarchar(max),
	Creator_Surname			nvarchar(max),
	Creator_Department		nvarchar(max),
	TimeCreated				datetime2,
	TimeUpdated				datetime2,
	Responsible_Name		nvarchar(max),
	Responsible_Surname		nvarchar(max),
	Responsible_Department	nvarchar(max),
	Deletable				bit
)
AS
BEGIN
	IF (dbo.F_ValidateLanguage(@Language) = 1)
	BEGIN
		INSERT @TasksTab
			select t.ID, tt.Text, p.Name, p.Surname, p.Department, pt.Text, t.Instructions, s.Text, 
				per.Name, per.Surname, d.Department, t.TimeCreated, t.TimeUpdated, 
				per2.Name, per2.Surname, d2.Department, case st.Name when '%Status_New' then 1 when '%Status_Pending' then 1 else 0 end
			from dbo.Tasks t
				left join dbo.F_TaskTypes(@Language) tt on t.Type_ID = tt.ID
				left join dbo.F_Patients() p on t.Patient_ID = p.ID
				left join dbo.F_PriorityTypes(@Language) pt on t.Priority_ID = pt.ID
				left join dbo.F_StatusTypes(@Language) s on t.Status_ID = s.ID
				left join dbo.Personnel per on t.Creator_ID = per.ID
				left join dbo.Departments d on per.Department_ID = d.ID
				left join dbo.Personnel per2 on t.Responsible_ID = per2.ID
				left join dbo.Departments d2 on per2.Department_ID = d2.ID
				left join dbo.Statuses st on t.Status_ID = st.ID
			where t.Status_ID <> 5;

	END
	RETURN
END
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Department] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dictionaries]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dictionaries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tag] [nvarchar](max) NOT NULL,
	[Language_ID] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Dictionaries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NotificationTypes]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_NotificationTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientAdmission]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientAdmission](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Patient_ID] [int] NOT NULL,
	[Department_ID] [int] NOT NULL,
	[Date_From] [date] NOT NULL,
	[Date_Till] [date] NULL,
 CONSTRAINT [PK_PatientAdmission] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patients]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[SocialNr] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personnel]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[SocialNr] [nvarchar](max) NOT NULL,
	[Position_ID] [int] NOT NULL,
	[Department_ID] [int] NOT NULL,
 CONSTRAINT [PK_Personnel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Positions]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PriorityTypes]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriorityTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PriorityTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reports]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Task_ID] [int] NOT NULL,
	[Status_ID] [int] NOT NULL,
	[TimeAdded] [datetime2](7) NOT NULL,
	[Attachment] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SupportedLanguages]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportedLanguages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Language] [nchar](2) NOT NULL,
 CONSTRAINT [PK_SupportedLanguages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_ID] [int] NOT NULL,
	[Patient_ID] [int] NOT NULL,
	[Priority_ID] [int] NOT NULL,
	[Instructions] [nvarchar](max) NULL,
	[Status_ID] [int] NOT NULL,
	[Creator_ID] [int] NOT NULL,
	[TimeCreated] [datetime2](7) NOT NULL,
	[Responsible_ID] [int] NULL,
	[TimeUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskTypes]    Script Date: 22.01.2014. 16:28:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[HasInstr] [bit] NOT NULL,
 CONSTRAINT [PK_TaskTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([ID], [Department]) VALUES (1, N'G401')
INSERT [dbo].[Departments] ([ID], [Department]) VALUES (2, N'G402')
INSERT [dbo].[Departments] ([ID], [Department]) VALUES (3, N'G403')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Dictionaries] ON 

INSERT [dbo].[Dictionaries] ([ID], [Tag], [Language_ID], [Text], [Type]) VALUES (1, N'%NotificationType_All', 1, N'All updates', N'Internal')
INSERT [dbo].[Dictionaries] ([ID], [Tag], [Language_ID], [Text], [Type]) VALUES (2, N'%NotificationType_Complete', 1, N'When "Complete"', N'Internal')
INSERT [dbo].[Dictionaries] ([ID], [Tag], [Language_ID], [Text], [Type]) VALUES (3, N'%NotificationType_InProcess', 1, N'When "In process"', N'Internal')
SET IDENTITY_INSERT [dbo].[Dictionaries] OFF
SET IDENTITY_INSERT [dbo].[NotificationTypes] ON 

INSERT [dbo].[NotificationTypes] ([ID], [Name], [Description]) VALUES (1, N'%NotificationType_All', N'All updates')
INSERT [dbo].[NotificationTypes] ([ID], [Name], [Description]) VALUES (2, N'%NotificationType_Complete', N'When "Complete"')
INSERT [dbo].[NotificationTypes] ([ID], [Name], [Description]) VALUES (3, N'%NotificationType_InProcess', N'When "In process"')
SET IDENTITY_INSERT [dbo].[NotificationTypes] OFF
SET IDENTITY_INSERT [dbo].[PatientAdmission] ON 

INSERT [dbo].[PatientAdmission] ([ID], [Patient_ID], [Department_ID], [Date_From], [Date_Till]) VALUES (1, 1, 1, CAST(0x01380B00 AS Date), CAST(0x0D380B00 AS Date))
INSERT [dbo].[PatientAdmission] ([ID], [Patient_ID], [Department_ID], [Date_From], [Date_Till]) VALUES (2, 2, 2, CAST(0x03380B00 AS Date), NULL)
INSERT [dbo].[PatientAdmission] ([ID], [Patient_ID], [Department_ID], [Date_From], [Date_Till]) VALUES (3, 3, 3, CAST(0x05380B00 AS Date), NULL)
SET IDENTITY_INSERT [dbo].[PatientAdmission] OFF
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([ID], [Name], [Surname], [SocialNr]) VALUES (1, N'Dmitrijs', N'Rasjuks', N'860503-P114')
INSERT [dbo].[Patients] ([ID], [Name], [Surname], [SocialNr]) VALUES (2, N'Matīss', N'Bāliņš', N'881208-P110')
INSERT [dbo].[Patients] ([ID], [Name], [Surname], [SocialNr]) VALUES (3, N'Lulu', N'Marzan', N'850823-1642')
SET IDENTITY_INSERT [dbo].[Patients] OFF
SET IDENTITY_INSERT [dbo].[Personnel] ON 

INSERT [dbo].[Personnel] ([ID], [Username], [Name], [Surname], [SocialNr], [Position_ID], [Department_ID]) VALUES (1, N'doc', N'John', N'Smith', N'650102-1452', 1, 1)
INSERT [dbo].[Personnel] ([ID], [Username], [Name], [Surname], [SocialNr], [Position_ID], [Department_ID]) VALUES (4, N'brownc', N'Caroline', N'Brown', N'781223-9861', 2, 1)
INSERT [dbo].[Personnel] ([ID], [Username], [Name], [Surname], [SocialNr], [Position_ID], [Department_ID]) VALUES (6, N'atkinsonj', N'Julie', N'Atkinson', N'870812-9813', 3, 1)
SET IDENTITY_INSERT [dbo].[Personnel] OFF
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([ID], [Position], [Description]) VALUES (1, N'%Position_Doctor', N'Doctor')
INSERT [dbo].[Positions] ([ID], [Position], [Description]) VALUES (2, N'%Position_HeadNurse', N'Head nurse')
INSERT [dbo].[Positions] ([ID], [Position], [Description]) VALUES (3, N'%Position_Nurse', N'Nurse')
SET IDENTITY_INSERT [dbo].[Positions] OFF
SET IDENTITY_INSERT [dbo].[PriorityTypes] ON 

INSERT [dbo].[PriorityTypes] ([ID], [Name], [Description]) VALUES (1, N'%PriorityType_High', N'Important')
INSERT [dbo].[PriorityTypes] ([ID], [Name], [Description]) VALUES (2, N'%PriorityType_Medium', N'Regular')
INSERT [dbo].[PriorityTypes] ([ID], [Name], [Description]) VALUES (3, N'%PriorityType_Low', N'Not important')
SET IDENTITY_INSERT [dbo].[PriorityTypes] OFF
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ID], [Task_ID], [Status_ID], [TimeAdded], [Attachment], [Comment]) VALUES (1, 17, 3, CAST(0x07A744BAC86311380B AS DateTime2), NULL, NULL)
INSERT [dbo].[Reports] ([ID], [Task_ID], [Status_ID], [TimeAdded], [Attachment], [Comment]) VALUES (2, 17, 3, CAST(0x07D92E4ADC6311380B AS DateTime2), NULL, NULL)
INSERT [dbo].[Reports] ([ID], [Task_ID], [Status_ID], [TimeAdded], [Attachment], [Comment]) VALUES (3, 17, 3, CAST(0x07F95EFAE86311380B AS DateTime2), N'c:\\test.txt', NULL)
SET IDENTITY_INSERT [dbo].[Reports] OFF
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([ID], [Name], [Description]) VALUES (1, N'%Status_New', N'New')
INSERT [dbo].[Statuses] ([ID], [Name], [Description]) VALUES (2, N'%Status_Pending', N'Pending')
INSERT [dbo].[Statuses] ([ID], [Name], [Description]) VALUES (3, N'%Status_InProcess', N'In process')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
SET IDENTITY_INSERT [dbo].[SupportedLanguages] ON 

INSERT [dbo].[SupportedLanguages] ([ID], [Language]) VALUES (1, N'En')
SET IDENTITY_INSERT [dbo].[SupportedLanguages] OFF
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([ID], [Type_ID], [Patient_ID], [Priority_ID], [Instructions], [Status_ID], [Creator_ID], [TimeCreated], [Responsible_ID], [TimeUpdated]) VALUES (17, 2, 3, 2, NULL, 5, 1, CAST(0x07143C2D270811380B AS DateTime2), NULL, CAST(0x07143C2D270811380B AS DateTime2))
INSERT [dbo].[Tasks] ([ID], [Type_ID], [Patient_ID], [Priority_ID], [Instructions], [Status_ID], [Creator_ID], [TimeCreated], [Responsible_ID], [TimeUpdated]) VALUES (22, 2, 2, 1, NULL, 5, 1, CAST(0x07A22CBE362811380B AS DateTime2), NULL, CAST(0x07A22CBE362811380B AS DateTime2))
INSERT [dbo].[Tasks] ([ID], [Type_ID], [Patient_ID], [Priority_ID], [Instructions], [Status_ID], [Creator_ID], [TimeCreated], [Responsible_ID], [TimeUpdated]) VALUES (24, 3, 3, 2, N'flu', 5, 1, CAST(0x073A4C66F26711380B AS DateTime2), NULL, CAST(0x073A4C66F26711380B AS DateTime2))
SET IDENTITY_INSERT [dbo].[Tasks] OFF
SET IDENTITY_INSERT [dbo].[TaskTypes] ON 

INSERT [dbo].[TaskTypes] ([ID], [Name], [Description], [HasInstr]) VALUES (1, N'%TaskType1', N'Take blood samples for Blood Analysis', 1)
INSERT [dbo].[TaskTypes] ([ID], [Name], [Description], [HasInstr]) VALUES (2, N'%TaskType2', N'Take temperature', 0)
INSERT [dbo].[TaskTypes] ([ID], [Name], [Description], [HasInstr]) VALUES (3, N'%TaskType3', N'Vaccinate agaisnt ', 1)
SET IDENTITY_INSERT [dbo].[TaskTypes] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_SupportedLanguages]    Script Date: 22.01.2014. 16:28:37 ******/
ALTER TABLE [dbo].[SupportedLanguages] ADD  CONSTRAINT [UK_SupportedLanguages] UNIQUE NONCLUSTERED 
(
	[Language] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dictionaries] ADD  CONSTRAINT [DF_Dictionaries_Type]  DEFAULT ('External') FOR [Type]
GO
ALTER TABLE [dbo].[Reports] ADD  CONSTRAINT [DF_Reports_TimeAdded]  DEFAULT (sysdatetime()) FOR [TimeAdded]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_Priority_ID]  DEFAULT ((2)) FOR [Priority_ID]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_TimeCreated]  DEFAULT (sysdatetime()) FOR [TimeCreated]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_TimeUpdated]  DEFAULT (sysdatetime()) FOR [TimeUpdated]
GO
ALTER TABLE [dbo].[TaskTypes] ADD  CONSTRAINT [DF_TaskTypes_HasInstr]  DEFAULT ((0)) FOR [HasInstr]
GO
ALTER TABLE [dbo].[Dictionaries]  WITH CHECK ADD  CONSTRAINT [FK_Dictionaries_SupportedLanguages] FOREIGN KEY([Language_ID])
REFERENCES [dbo].[SupportedLanguages] ([ID])
GO
ALTER TABLE [dbo].[Dictionaries] CHECK CONSTRAINT [FK_Dictionaries_SupportedLanguages]
GO
ALTER TABLE [dbo].[PatientAdmission]  WITH CHECK ADD  CONSTRAINT [FK_PatientAdmission_Departments] FOREIGN KEY([Department_ID])
REFERENCES [dbo].[Departments] ([ID])
GO
ALTER TABLE [dbo].[PatientAdmission] CHECK CONSTRAINT [FK_PatientAdmission_Departments]
GO
ALTER TABLE [dbo].[PatientAdmission]  WITH CHECK ADD  CONSTRAINT [FK_PatientAdmission_Patients] FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patients] ([ID])
GO
ALTER TABLE [dbo].[PatientAdmission] CHECK CONSTRAINT [FK_PatientAdmission_Patients]
GO
ALTER TABLE [dbo].[Personnel]  WITH CHECK ADD  CONSTRAINT [FK_Personnel_Departments] FOREIGN KEY([Department_ID])
REFERENCES [dbo].[Departments] ([ID])
GO
ALTER TABLE [dbo].[Personnel] CHECK CONSTRAINT [FK_Personnel_Departments]
GO
ALTER TABLE [dbo].[Personnel]  WITH CHECK ADD  CONSTRAINT [FK_Personnel_Positions] FOREIGN KEY([Position_ID])
REFERENCES [dbo].[Positions] ([ID])
GO
ALTER TABLE [dbo].[Personnel] CHECK CONSTRAINT [FK_Personnel_Positions]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Tasks] FOREIGN KEY([Status_ID])
REFERENCES [dbo].[Statuses] ([ID])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Tasks]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Patients] FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patients] ([ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Patients]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Personnel_Creator] FOREIGN KEY([Creator_ID])
REFERENCES [dbo].[Personnel] ([ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Personnel_Creator]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Personnel_Responsible] FOREIGN KEY([Responsible_ID])
REFERENCES [dbo].[Personnel] ([ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Personnel_Responsible]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_PriorityTypes] FOREIGN KEY([Priority_ID])
REFERENCES [dbo].[PriorityTypes] ([ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_PriorityTypes]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Statuses] FOREIGN KEY([Status_ID])
REFERENCES [dbo].[Statuses] ([ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Statuses]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_TaskTypes] FOREIGN KEY([Type_ID])
REFERENCES [dbo].[TaskTypes] ([ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_TaskTypes]
GO
ALTER TABLE [dbo].[Dictionaries]  WITH CHECK ADD  CONSTRAINT [CK_Dictionaries_Type] CHECK  (([Type]='External' OR [Type]='Internal'))
GO
ALTER TABLE [dbo].[Dictionaries] CHECK CONSTRAINT [CK_Dictionaries_Type]
GO
ALTER TABLE [dbo].[PatientAdmission]  WITH CHECK ADD  CONSTRAINT [CK_PatientAdmission_DateTill] CHECK  (([Date_Till]>[Date_From]))
GO
ALTER TABLE [dbo].[PatientAdmission] CHECK CONSTRAINT [CK_PatientAdmission_DateTill]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [CK_Patients_SocialNr] CHECK  (([SocialNr] like '[0-9][0-9][0-9][0-9][0-9][0-9]-[P0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [CK_Patients_SocialNr]
GO
ALTER TABLE [dbo].[Personnel]  WITH CHECK ADD  CONSTRAINT [CK_Personnel_SocialNr] CHECK  (([SocialNr] like '[0-9][0-9][0-9][0-9][0-9][0-9]-[P0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Personnel] CHECK CONSTRAINT [CK_Personnel_SocialNr]
GO
USE [master]
GO
