@model HMS.Models.DictionaryModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <hgroup>
        @RenderBody()
        <h1 class="text-danger">@ViewBag.Error</h1>
        <h2 class="text-danger">@ViewBag.Error_Msg</h2>
    </hgroup>
</body>
</html>
