@using HMS.Models;
@model DictionaryModel

@{
    // Dictionary variables
    ViewBag.Title = ViewData.Model.Dictionary["%CreateToDo_IllegalInput_Title"];
}

<p style="color: red">@ViewData.Model.Dictionary["%CreateToDo_IllegalInput_Msg"]</p>
