@using HMS.Models;
@model Notifications

@{
    // Dictionary variables
    ViewBag.Title = ViewData.Model.Dictionary["%Notifications_Title"];
}

<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Notification</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Notifications.NotifItem nt in ViewData.Model.Items)
                {

                    <tr data-id="@nt.id">
                        <td> @nt.id</td>
                        <td>@nt.Notification</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

